$pixel: 10px;
$pixelBig: 20px;
$pixelSmall: 5px;
$red: #db2900;
$firered: #d80005;
$green: #8a7301;
$flowerGreen: #278e3a;
$yellow: #ffa33c;
$white: #f8e0b0;
$fireWhite: #f8e0b0;
$brown: #944a24;
$black: #000;